@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div id="loading-overlay">
    <div class="loading-spinner"></div>
</div>

<!-- Nơi để hiển thị PartialView -->
<div id="partialContainer">
    <!-- PartialView sẽ được load vào đây -->
</div>